.main_container {
    width: 100%;
    height: 100%;
}

.outline_container {
    display: block;
    width: 45%;
    float: left;
    text-align: left;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 1em;
    position: relative;
}

.text_container {
    display: block;
    width: 50%;
    float: right;
    text-align: left;
    padding: 1em;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    position: relative;
}

.outline_tip {
    background-color:aqua;
    position: relative;
}


.text_tip {
    background-color:aqua;
    position: relative;
}

.popup {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

/* The actual popup */
.popup .popup_text {
    visibility: hidden;
    width: 500px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }

  /* Popup arrow */
.popup .popup_text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  /* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

  /* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  
.err {
    color: red;
    font-weight: bold;
}

.HoverClass1:hover {
  color: #FFFFFF !important; 
  background-color: #f59b42 !important;
}

.highlight {
  color: #FFFFFF !important; 
  background-color: #f59b42 !important;
}


.highlight-span {
  background-color: yellow;
  color: black;
}
