.main_container {
    width: 100%;
    height: 100%;
}

.outline_container {
    display: block;
    width: 50%;
    float: left;
    text-align: center;
}

.text_container {
    display: block;
    width: 50%;
    float: right;
    text-align: center;
}

.outline_textarea {
    
}
